<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <%= simple_form_for(offer, html: { class: 'form-horizontal' }) do |f| %>
          <%= f.input :title, label: 'Title', placeholder: 'Enter title', input_html: { class: 'form-control' } %>
          <%= f.input :city, label: 'City', placeholder: 'Enter city', input_html: { class: 'form-control' } %>
          <%= f.input :address, label: 'Address', placeholder: 'Enter address', input_html: { class: 'form-control' } %>
          <%= f.input :description, label: 'Description', placeholder: 'Enter description', input_html: { class: 'form-control' } %>
          <%= f.input :price, label: 'Price', placeholder: 'Enter price', input_html: { class: 'form-control' } %>
          <!--<%= f.input :images, label: 'Images', placeholder: 'Upload images', input_html: { class: 'form-control' } %>-->
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      </div>
      <div class="modal-footer">
        <%= link_to 'Go Back', dashboard_path(@offers), class: 'btn btn-danger' %>
          <%= f.submit 'Update', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
