<h1>This is Your Personal Dashboard, <%= current_user.email %> </h1>
<div class="offer-container d-flex">
<% @offers.each do |offer| %>
<div class="card p-2 m-3 d-flex" style="width: 14rem;">
  <% offer.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<h3><%= offer.title %></h3>
<h4><%= offer.city %></h4>
<p><%= offer.address %></p>
<p><%= offer.price %></p>
<%= button_to "Delete", offer_path(offer), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
</div>
<% end %>
</div>

<%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }%>
<%= link_to 'Add a new offer', new_offer_path(@offer) %>