<h1>dashboard <%= current_user.email %> </h1>
<% @offers.each do |offer| %>
<div class="card p-2 m-3 d-flex" style="width: 14rem;">
<%= image_tag(offer.images, :alt => "haunted house") %>
<h3><%= offer.title %></h3>
<h4><%= offer.city %></h4>
<p><%= offer.address %></p>
<p><%= offer.price %></p>
</div>
<% end %>
