
<div class="">

  <div class="booking-section">

    <h1>Youre Bookings <%= current_user.email %> </h1>

    <div class="grid-body">
      <% if @bookings.any? %>
          <% @bookings.each do |booking| %>
            <% offer = booking.offer %>
            <div class="card-container">
              <%= link_to offer_path(offer) do %>
                <% if offer.photos.present? %>
                  <%= cl_image_tag offer.photos.first.key, crop: :fill, class: "card-img" %>
                <% end %>
                <h4><%= offer.title %></h4>
                <p><%= offer.city %></p>
                <p><%= offer.address %></p>
                <div class="money">
                  <p><%= offer.price %> €</p>
                </div>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <em>Sorry, no offers found.</em>
        <% end %>
      </div>

  </div>

  <div class="map-section">
    <div class="map-bookings">
      <%= render "shared/map", markers: @markers %>
    </div>
  </div>

  <div class="offers-section">
    <div class="grid-body">
      <% if @offers.any? %>
          <% @offers.each do |offer| %>
            <div class="card-container" data-controller="toggle">

                <% if offer.photos.present? %>
                  <%= cl_image_tag offer.photos.first.key, crop: :fill, class: "card-img" %>
                <% end %>
                <h4><%= offer.title %></h4>
                <p><%= offer.city %></p>
                <p><%= offer.address %></p>
                <div class="money">
                  <p><%= offer.price %> €</p>
                </div>
              <div class="wrapper-card">
                <div class="btn btn-primary" data-action="click->toggle#update">Update</div>
                <%= link_to "Delete", offer_path(offer), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
                <%= render "update", offer: offer %>
              </div>
              
            </div>
          <% end %>
        <% else %>
          <em>Sorry, no offers found.</em>
        <% end %>
      </div>
  </div>

</div>
