<div class="d-flex justify-content-center mt-5 mb-4">

  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <div class="container text-center">
      <h1>Book a place!</h1>
      </div>
      <%= simple_form_for [@offer, @booking] do |f| %>
        <%= f.input :start_date, label: 'Start Date', as: :date, html5: true, placeholder: 'Enter Date', input_html: { class: 'form-control' } %>
        <%= f.input :end_date, label: 'End Date', as: :date, html5: true, placeholder: 'Enter Date', input_html: { class: 'form-control' } %>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      <% end %>
        <%= link_to 'Go Back', dashboard_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
