<main>
  <div id="banner">
    <h1 id="banner-img">Search for a scary place !</h1>
  </div>

  <h2>Where to go in {user_location}</h2>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div id="offers">
          <% if @offers.any? %>
            <% @offers.each do |offer| %>
              <%= cl_image_tag offer.photos.first.key, crop: :fill unless offer.photos.empty? %>
              <h4><%= offer.title %></h4>
              <p><%= offer.description %></p>
              <p><%= offer.city %></p>
              <p><%= offer.address %></p>
            <% end %>
            <% else %>
            <em>Sorry, no offers found.</em>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h2>Last minute booking</h2>
  </div>
</main>
