<main>
  <div id="banner">
    <h1 id="banner-img">Search for a scary place !</h1>
  </div>

  <h2>Where to go in {user_location}</h2>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div id="offers">
          <% if @offers.any? %>
            <% @offers.each do |offer| %>
              <h4><%= offer.title %></h4>
              <p><%= offer.description %></p>
              <p><%= offer.city %></p>
              <p><%= offer.address %></p>
            <% end %>
            <% else %>
            <em>Sorry, no offers found.</em>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-body">
    <% @offers_all.each do |offer| %>
      <div class="">
        <div class="card rounded shadow-sm" style="width: 18rem;">
          <% offer.photos.each do |photo| %>
            <%= cl_image_tag photo.key, crop: :fill %>
          <% end %>
          <div class="card-body">
          <h4 class="card-title"><%= offer.title %></h4>
          <p><%= offer.price %>€</p>
          <%= link_to "", offer_path(offer), class: "stretched-link" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>


  <div>
    <h2>Last minute booking</h2>
  </div>
</main>
