<div class="container">
  <div class="row">
    <div class="col">
      <% @offer.photos.each do |photo| %>
        <%= cl_image_tag photo.key, crop: "fit" %>
      <% end %>
  </div>
    <div class="col">
      <%=  @offer.title  %>
      <%=  @offer.city  %>
      <%=  @offer.address  %>
      <%=  @offer.price  %>
      <%= render 'offers/booking' %>
    </div>
  </div>

<%= render "shared/map", markers: @markers %>

</div>
